<div class="abs p-4">
    <div class="card">
        <div class="card-header">
            Sign In
        </div>
        <div class="card-body">
            <form action="/signin" method="POST" class="form">
                <div class="form-group">
                    <input type="text" name="username" id="username" required autofocus placeholder="Username"
                        class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" required autofocus placeholder="Password"
                        class="form-control">
                </div>
                <button class="btn btn-primary btn-block">
                    Sign In
                </button>
            </form>
        </div>
    </div>
</div>